<ion-view title="'朋友訊息'" left-buttons="backButton" ng-init="init();">
	<header class="bar bar-subheader">
  		<h2 class="title">{{model.name}}</h2>
	</header>
	<ion-content padding="true" class="chatContent">
  		<ol class="messages">
  			<li ng-repeat="message in getMessageList()" ng-class="message.owner">
  				<p>{{message.content}}</p>
  			</li>
		</ol>
    </ion-content>
	<ion-footer-bar class="bar-positive" ng-click="onSendMessageClick()">
  		<h2 class="title">傳送訊息</h2>
	</ion-footer-bar>
</ion-view>