<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive">
	<ion-tab title="聯絡人" icon="ion-ios7-people"  href="#/tab/friends">
		<ion-nav-view name="tab-friends"></ion-nav-view>
    </ion-tab>
    <!-- <ion-tab title="活動列表" icon="icon ion-ios7-flag" href="#/tab/activitylist">
        <ion-nav-view name="tab-activity"></ion-nav-view>
    </ion-tab> -->
    <ion-tab title="設定" icon="icon ion-gear-a" href="#/tab/setting">
        <ion-nav-view name="tab-setting"></ion-nav-view>
    </ion-tab>
</ion-tabs>