<ion-view title="'朋友資訊'" right-buttons="editFriendButton" ng-init="init();">
	<ion-content has-header="true" padding="true">
		<div class="list card">
			<div class="item item-avatar">
    			<img src="images/people_1.png">
    			<h2>{{model.name}}</h2>
    			<p>{{model.phone}}</p>
  			</div>
			<form name="editForm" ng-show="showEditOption" class="item item-text-wrap">
				<label class="item item-input item-stacked-label">
			    	<span class="input-label">姓名: </span>
			    	<input type="text" ng-model="editModel.name">
				</label>
				<label class="item item-input item-stacked-label">
			    	<span class="input-label">電話: </span>
			    	<input type="tel" ng-model="editModel.phone">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">郵件: </span>
					<i class="icon ion-ios7-information assertive" ng-show="editForm.emailInput.$error.email">格式不符</i>
			    	<input type="email" ng-model="editModel.email" name="emailInput">
				</label>
				<label class="item item-input item-stacked-label">
			    	<span class="input-label">生日: </span>
			    	<input type="date" placeholder="yyyy-MM-dd" ng-model="editModel.birthday">
				</label>
				<button ng-click="onEditClick()" class="button button-block button-positive">修改</button>
			</form>
			<div ng-show="!showEditOption" class="item item-text-wrap">
				<p>郵件: {{model.email}}</p>
				<p>生日: {{model.birthday}}</p>
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left" ng-show="!showEditOption">
    			<a class="tab-item" ng-click="onPhoneClick()">
      				<i class="icon ion-ios7-telephone"></i>
      				電話
    			</a>
    			<a class="tab-item" ng-click="onSMSClick()">
      				<i class="icon ion-ios7-chatbubble"></i>
      				簡訊
    			</a>
    			<a class="tab-item" ng-click="onEmailClick()" ng-show="getHasEmail()">
      				<i class="icon ion-ios7-email"></i>
      				郵件
    			</a>
    			<a class="tab-item" ng-click="onMessageClick()" ng-show="getIsMember()">
      				<i class="icon ion-ios7-chatboxes-outline"></i>
      				訊息
    			</a>
  			</div>
		</div>
	</ion-content>
</ion-view>